<%= form_for(@comment, url: micropost_comments_url(@micropost_id),
    html: { id: "new-comment-mic-#{@micropost_id}" },
    remote: true) do |f| %>

  <div class="alert alert-danger" id="alert-mic-<%= @micropost_id %>">
    Comment cannot be blank or longer than 300 characters.
  </div>

  <div class="field">
    <%= hidden_field_tag :micropost_id, @micropost_id %>
    <%= f.text_area :content, placeholder: "Leave a comment..." %>
  </div>
  <%= f.submit "Comment", class: "btn btn-primary" %>
<% end %>
