<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50),
      micropost.user %>
  <span class="user">
    <%= link_to micropost.user.name, micropost.user %>
  </span>
  <span class="content">
    <%= micropost.content %>
    <%= image_tag micropost.picture.url if micropost.picture? %>
  </span>
  <span class="timestamp" id="micropost_timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    <% if current_user?(micropost.user) %>
      <%= link_to "delete", micropost, method: :delete,
          data: { confirm: "You sure?" } %>
    <% end %>
  </span>
  <div id="comments-parent">
    <span class="comments-count">
      <%= pluralize(micropost.comments.count,"comment") %>
    </span>
    <%= link_to "show/hide", "#", id:
        "comments-link" %>
    <div id="comments">
      <% if micropost.comments.any? %>
        <ol class="comments">
          <% @comments = micropost.comments %>
          <%= render @comments %>
        </ol>
      <% end %>
      <div class="comment-form">
        <% @micropost_id = micropost.id  %>
        <%= render 'shared/comment_form' %>
      </div>
    </div>
  </div>
</li>
