<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50),
      micropost.user %>
  <span class="user">
    <%= link_to micropost.user.name, micropost.user %>
  </span>
  <span class="content">
    <%= micropost.content %>
    <%= image_tag micropost.picture.url if micropost.picture? %>
  </span>
  <span class="timestamp" id="micropost_timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    <% if current_user?(micropost.user) %>
      <%= link_to "delete", micropost, method: :delete,
          data: { confirm: "You sure?" } %>
    <% end %>
  </span>

  <span class="comments-count" id="comments-count-mic-<%= micropost.id %>">
    <%= pluralize(micropost.comments.count, "comment") %>
  </span>
  <% @micropost_id = micropost.id  %>
  <%= link_to "show/hide", "#comments-mic-#{@micropost_id}", id: "comments-link-mic-#{@micropost_id}", remote: true %>

  <div id="comments-mic-<%= micropost.id %>">
    <% if micropost.comments.any? %>
      <ol class="comments" id="comments-body-mic-<%= micropost.id %>">
        <% @comments = micropost.comments %>
        <%= render @comments %>
      </ol>
    <% end %>
    <div class="comment-form">
      <%= render 'shared/comment_form' %>
    </div>
  </div>

</li>

<script type="text/javascript">
  $('#comments-link-mic-<%= micropost.id %>').on('click', function() {
    $('#comments-mic-<%= micropost.id %>').toggle();
  });
</script>
